section main .content .product-content #flavors {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

section main .content .product-content #flavors select {
    width: 200px;
    margin: 10px 0;
    background: #ea0606;
    padding: 10px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.973);
    outline: none;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    text-shadow: rgb(49, 49, 49) 1px 1px 1px;
    font-size: 19px;
}

section main .content .product-content #flavors select option {
    background: #ff2c2c;
}

section main .content .product-content #flavors .select-1 {
    margin-right: 5px;
}

section main .content .product-content .flavors-images {
    display: flex;
}

section .content .product-content .flavors-images .img-1 {
    padding-left: 75px;
}

section .content .product-content .sizes {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    text-align: justify;
}

section .content .product-content .sizes li {
    padding-bottom: 5px;
    border-bottom: solid 1px #CCC;
    transition: .2s;
}

section .content .product-content .sizes li:hover {
    background-color: rgba(14, 228, 14, 0.204);
    border-radius: 5px;
}

section .content .product-content .sizes li:active {
    background-color: #FFF;
    border-radius: 5px;
}

section .content .product-content .sizes li .content-sizes {
    display: flex;
    color: #414142;
    font-size: 19px;
    font-weight: bold;
    padding-top: 10px;
    cursor: pointer;
}
section .content .product-content .sizes li .content-sizes .type {
    width: 90px;
    padding: 0;
}

section .content .product-content .sizes li .content-sizes .price {
    width: 85px;
}

section .content .product-content .sizes li .content-sizes div {
    display: flex;
    background-color: #29d312;
    border-radius: 3px;
    padding: 2px 0;
}

section .content .product-content .sizes li .content-sizes div .quant {
    width: 60px;
    height: 25px;
    margin: 0 5px;
}

section .content .product-content .sizes li .content-sizes div p {
    margin: 3px 0;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

section .content .more {
    width: 100%;
    max-width: 150px;
    margin: auto;
    text-align: center;
}

section .content .more button {
    margin-top: 20px;
    padding: 10px 20px;
    background: rgba(14, 228, 14, 0.904);
    color: #FFF;
    border: none;
    border-radius: 100%;
    font-size: 40px;
    font-weight: bold;
    box-shadow: #000 1px 1px 5px;
    cursor: pointer;
    outline: none;
    transition: all .6s;
    
}

section .content .more button:hover {
    background: #12a500;
}

section .content .more button:active {
    background: rgba(14, 228, 14, 0.904);
}

@media(max-width: 450px) {

    section main .content .product-content .flavors-images {
        width: 300px;
        margin: auto;
    }
    section main .content .product-content .flavors-images .img-1 {
        padding-left: 0;
    }

    section .content .product-content .sizes {
        padding-left: 25px;
    }

    section .content .product-content .sizes li:hover {
        opacity: 1;
    }

    section .content .product-content .sizes li:active {
        background-color: rgb(218, 216, 216);
    }

    section .content .product-content .sizes li .content-sizes div {
        display: flex;
        background-color: rgba(14, 228, 14, 0.904);
        border-radius: 3px;
    }

    
    section .content .product-content .sizes li .content-sizes div .quant {
        width: 30px;
        height: 25px;
        margin: 0 3px;
    }
    
    section .content .product-content .sizes li .content-sizes div p {
        margin: 7px 0;
        color: #000;
        font-weight: bold;
        font-size: 11px;
    }
    
    section .content .product-content .sizes li .content-sizes div .catu {
        margin-top: 7px;
    }
}