section {
    width: 100%;
    max-width: 700px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 125px;
}

section h2 {
    font-size: 50px;
    margin: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom: solid 5px #ea0606;
    padding-bottom: 10px;
}

section .menu {
    max-width: 633px;
    padding: 50px 0;
}

section .menu ul li a {
    font-size: 30px;
    font-weight: bold;
    transition: .5s;
    border-radius: 0px;
    
}

#drinks {
    padding: 45px 44px;
}

#pizzas {
    padding: 45px 57px;
}

#pastas {
    padding: 45px 36px;
}

section ul li #drinks:hover, #pizzas:hover, #pastas:hover {
    background-color: orangered;
    color: #fff;
    text-shadow: #000 1px 1px 1px;
}

section ul li #drinks:active{
    background-color: #009246;
}

section ul li #pizzas:active {
    background-color: #fff;
}

section ul li #pastas:active {
    background-color: #ea0606;
}

@media(max-width: 450px) {

    section {
        padding-top: 65px;
    }

    section h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }
    
    section .menu {
        padding: 50px 0;
    }
    
    section .menu ul li a {
        font-size: 20px;
        transition: 0s;
        margin: 0 1.4px;
    }

    #drinks {
        padding: 45px 20px;
    }
    
    #pizzas {
        padding: 45px 27px;
    }
    
    #pastas {
        padding: 45px 15px;
    }

    section ul li #drinks:active, #pizzas:active, #pastas:active {
        background-color: orangered;
        color: #fff;
        text-shadow: #000 1px 1px 1px;
    }
}
@media(width: 375px) {
    section .menu {
        margin-left: 13px;
    }
}