{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comeTchê!</title>
    {% bootstrap_css %}
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}

    {% bootstrap_javascript jquery='full' %}

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>