{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pedro Henrique Castoldi Bezerra">
    <meta name="keywords" content="pizza, taberna, grill, várzea da conceição, bar, restaurante">
    <meta name="description" content="Encomende sua pizza pelo ComeTchÊ">
    <meta name="aplication-name" content="ComeTchÊ">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
</head>
<body>
    <header id="main-header">
        <a href="{% url 'index' %}"><h1>ComeTchÊ</h1></a>
    </header>
    {% block content %}
    {% endblock %}

    <footer>
        <p>Todos os direitos reservados</p>
    </footer>
    
    <script defer src="{% static 'js/script.js' %}"></script>
</body>
</html>