{% extends 'base.html' %}
{%load bootstrap4 %}
{% block title %}ComeTchÊ | Bebidas{% endblock %}
{% block css %}/static/css/bebidas/styles.css{% endblock %}
{% block content %}
<header id="food">
    <nav class="menu">
        <ul>
            <li class="drinks-a"><a href="{% url 'bebidas' %}">Bebidas</a></li>
            <li class="pizzas-a"><a href="{% url 'pizzas' %}">Pizzas</a></li>
            <li class="food-a"><a href="{% url 'comidas' %}">Comidas</a></li>
        </ul>
    </nav>
</header>
<section id="food-s">
    <main>
        {% if messages %}
            {%for m in messages %}
                <div class="message">
                    <p>{{ m }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <a href="{% url 'carrinho' %}">
            <div class="car">
                <img src="../static/images/car2.png" alt="Carrinho" id="cart">
            </div>
        </a>
        <form action="{% url 'bebidas' %}" class="content" method="POST" id="ask">
            <div><p>Bebidas</p></div>
        </form>

{% endblock %}