{% extends 'base.html' %}
{% block title %}ComeTchÊ | Carrinho{% endblock %}
{% block css %}/static/css/cart/styles.css{% endblock %}
{% block content %}
<section id="food-s">
    <header id="sub-header">
        <h2>Carrinho</h2>
        <!-- {{ order }} -->
    </header>
    <main>
        <div class="content" id="order-cart" mensagem = '{{ mensagem }}'>
            <div id="order-title">
                <h3>Pedido</h3>
            </div>
            <div id="order">
                {% if order %}
                    {% if order.pz.0 %}
                        <p class="category">Pizza</p>
                        {% for pizza in order.pz.0 %}
                            {% if pizza.4 %}
                                <div class="order-details">
                                    <div><img src="../static/images/pizza-food-clipart-md.png" alt="Pizza Carrinho"></div>
                                    <div class="specifications">
                                        <p><strong>Sabor:</strong> {{ pizza.0 }} <span>{{ pizza.4 }} (R$2.0)</span></p>
                                        <p><strong>Tamanho:</strong> <span>{{ pizza.1 }}</span></p>
                                        <p><strong>Quantidade:</strong> <span>{{ pizza.3 }}</span></p>
                                        <p><strong>Preço:</strong> <span>R${{ pizza.2 }}</span></p>
                                    </div>
                                </div>
                            {% else %}
                            <div class="order-details">
                                <div><img src="../static/images/pizza-food-clipart-md.png" alt="Pizza Carrinho"></div>
                                <div class="specifications">
                                    <p><strong>Sabor:</strong> {{ pizza.0 }}</p>
                                    <p><strong>Tamanho:</strong> <span>{{ pizza.1 }}</span></p>
                                    <p><strong>Quantidade:</strong> <span>{{ pizza.3 }}</span></p>
                                    <p><strong>Preço:</strong> <span>R${{ pizza.2 }}</span></p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        
                    {% endif %}

                    {% if order.sd %}
                    <p class="category">Refrigerantes</p>
                    {% for soda in order.sd %}
                        <div class="order-details">
                            <div><img src="../static/images/soda_kart.png" id="soda-cart" alt="Refrigerante Carrinho"></div>
                            <div class="specifications">
                                <p><strong>Sabor:</strong> {{ soda.0 }}</p>
                                <p><strong>Tamanho:</strong> <span>{{ soda.1 }}</span></p>
                                <p><strong>Quantidade:</strong> <span>{{ soda.3 }}</span></p>
                                <p><strong>Preço:</strong> <span>{{ soda.2 }}</span></p>
                            </div>
                        </div>

                    {% endfor %}
                    {% endif %}

                    <p id="total">Total: R${{ order.tt }}</p>

                    <p id="date">Para: <span>{{ order.dt }}</span></p>
                {% else %}
                    <h4>Carrinho vazio..</h4>
                {% endif %}
            </div>
              
            <div id="order-now">
                <button>Encomendar <img src="../static/images/whatsapp-logo-4-1.png" alt="logo-WhatsApp"></button>
            </div> 
        </div>
    </main>
</section>

{% endblock %}