{% extends 'base.html' %}
{%load bootstrap4 %}
{% block content %}
<div class="container">
    <h1>Carrinho</h1><br><br>
    <div class="pedido" id="pedido" mensagem = '{{ mensagem }}'>
        <h2>Pedido</h3><br>
        {% for pp in pedido %}
            <h3>Produto: {{ pp.0.0 }} ({{ pp.0.1 }})</h3><br>
            <h3>Preço: R${{ pp.0.2 }}</h3><br>
            <h3>Quantidade: {{ pp.1 }}</h3>
        {% endfor %}
        
        <br><h3>TOTAL: R${{ total }}</h3>
        <br><h3>Agendado para: {{ data }}</h3>

        <button id="encomendar">Encomendar</button>
    </div>
</div>

{% endblock %}