{% extends 'base.html' %}
{% load i18n %}
{% block title %}ComeTchÊ | Carrinho{% endblock %}
{% block css %}/static/css/cart/styles.css{% endblock %}
{% block content %}
<section id="food-s">
    <header id="sub-header">
        <nav class="menu">
            <ul>
                <li><a href="{% url 'drinks' %}" id="drinks">Bebidas</a></li>
                <li><a href="{% url 'pizzas' %}" id="pizzas">Pizzas</a></li>
                <li><a href="{% url 'pastas' %}" id="pastas">Salgados</a></li>
            </ul>
        </nav>
        <h2>Carrinho</h2>
    </header>
    <main>
        <form method="POST">
            {% csrf_token %}
            <div class="content" id="order-cart" data-message='{{ message }}' data-order='{{ orders }}'>
                <div id="order-title">
                    <h3>Pedido</h3>
                </div>
                <div id="order">
                    {% if orders %}
                        {% for order in orders %}
                            {% if order.product_type == 'Pizza' %}
                                <p class="category">Pizzas</p>
                                    {% if 'catupiry' in order.details %}
                                        <div class="order-details">
                                            <div><img src="../static/images/pizza-food-clipart-md.png" id="pizza-id" alt="Pizza Carrinho"></div>
                                            <div class="specifications">
                                                <p><strong>Sabor:</strong> {{ order.product }} <span>+ catupiry (R$2.0)</span></p>
                                                <p><strong>Tamanho:</strong> <span>{{ order.measure }}</span></p>
                                                <p><strong>Quantidade:</strong> <span>{{ order.amount }}</span></p>
                                                <p><strong>Preço:</strong> <span>R${{ order.price }}</span></p>
                                            </div>
                                        </div>
                                    {% else %}
                                    <div class="order-details">
                                        <div><img src="../static/images/pizza-food-clipart-md.png" id="pizza-id" alt="Pizza Carrinho"></div>
                                        <div class="specifications">
                                            <p><strong>Sabor:</strong> {{ order.product }}</p>
                                            <p><strong>Tamanho:</strong> <span>{{ order.measure }}</span></p>
                                            <p><strong>Quantidade:</strong> <span>{{ order.amount }}</span></p>
                                            <p><strong>Preço:</strong> <span>R${{ order.price }}</span></p>
                                        </div>
                                    </div>
                                    {% endif %}
                            {% endif %}

                            {% if order.product_type == 'Bebida' %}
                                <p class="category">Bebida</p>
                                    <div class="order-details">
                                        <div><img src="{{ order.image }}" id="drink-cart" alt="Bebida Carrinho"></div>
                                        <div class="specifications">
                                            <p><strong>Tipo:</strong> {{ order.details }} {{ order.product }}</p>
                                            <p><strong>L/mg:</strong> <span>{{ order.measure }}</span></p>
                                            <p><strong>Quantidade:</strong> <span>{{ order.amount }}</span></p>
                                            <p><strong>Preço:</strong> <span>R${{ order.price }}</span></p>
                                        </div>
                                    </div>
                            {% endif %}
                    
                            {% if order.product_type == 'Salgado' %}
                                <p class="category">Salgado</p>
                                {% if order.product == 'Pastel' %}
                                    <div class="order-details">
                                        <div><img src="{{ order.image }}" id="pasta-cart" alt="Pastel Carrinho"></div>
                                        <div class="specifications">
                                            <p><strong>Tipo:</strong> {{ order.product }}</p>
                                            <p><strong>Sabor:</strong> {{ order.details }}</p>
                                            <p><strong>Quantidade:</strong> <span>{{ order.amount }}</span></p>
                                            <p><strong>Preço:</strong> <span>R${{ order.price }}</span></p>
                                        </div>
                                    </div>

                                {% elif order.product == 'Esfirra' %}
                                    <div class="order-details">
                                        <div><img src="{{ order.image }}" id="pasta-cart" alt="Sfirra Carrinho"></div>
                                        <div class="specifications">
                                            <p><strong>Tipo:</strong> {{ order.product }}</p>
                                            <p><strong>Sabor:</strong> {{ order.details }}</p>
                                            <p><strong>Quantidade:</strong> <span>{{ order.amount }}</span></p>
                                            <p><strong>Preço:</strong> <span>R${{ order.price }}</span></p>
                                        </div>
                                    </div>
                    
                                {% elif order.product == 'Coxinha' %}
                                    <div class="order-details">
                                        <div><img src="{{ order.image }}" id="pasta-cart" alt="Coxinha Carrinho"></div>
                                        <div class="specifications">
                                            <p><strong>Tipo:</strong> {{ order.product }}</p>
                                            <p><strong>Sabor:</strong> {{ order.details }}</p>
                                            <p><strong>Quantidade:</strong> <span>{{ order.amount }}</span></p>
                                            <p><strong>Preço:</strong> <span>R${{ order.price }}</span></p>
                                        </div>
                                    </div>
                                
                                {% elif order.product == 'Enroladinho' %}
                                    <div class="order-details">
                                        <div><img src="{{ order.image }}" id="pasta-cart" alt="Enroladinho Carrinho"></div>
                                        <div class="specifications">
                                            <p><strong>Tipo:</strong> {{ order.product }}</p>
                                            <p><strong>Sabor:</strong> {{ order.details }}</p>
                                            <p><strong>Quantidade:</strong> <span>{{ order.amount }}</span></p>
                                            <p><strong>Preço:</strong> <span>R${{ order.price }}</span></p>
                                        </div>
                                    </div>

                                {% else %}
                                    <div class="order-details">
                                        <div><img src="{{ order.image }}" id="pasta-cart" alt="Variados Carrinho"></div>
                                        <div class="specifications">
                                            <p><strong>Tipo:</strong> {{ order.product }}</p>
                                            <p><strong>Sabor:</strong> {{ order.details }}</p>
                                            <p><strong>Quantidade:</strong> <span>{{ order.amount }}</span></p>
                                            <p><strong>Preço:</strong> <span>R${{ order.price }}</span></p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                            <p id="total">Total: R${{ total }}</p>

                    <p id="date">Para: <span>{{ date }}</span></p>
                    {% else %}
                        <h4>Carrinho vazio..</h4>
                    {% endif %}
                </div>
                
                <div id="order-now">
                    <button type="submit">Encomendar <img src="../static/images/whatsapp-logo-4-1.png" alt="logo-WhatsApp"></button>
                </div> 
            </div>
        </form>
    </main>
</section>

{% endblock %}

{% block js %}/static/js/cart/script.js{% endblock %}