{% extends 'base.html' %}
{%load bootstrap4 %}
{% block title %}ComeTchÊ | Comidas{% endblock %}
{% block css %}/static/css/comidas/styles.css{% endblock %}
{% block content %}
<header id="food">
    <nav class="menu">
        <ul>
            <li><a href="{% url 'bebidas' %}" id="drinks">Bebidas</a></li>
            <li><a href="{% url 'pizzas' %}" id="pizzas">Pizzas</a></li>
            <li><a href="{% url 'comidas' %}" id="pastas">Salgados</a></li>
        </ul>
    </nav>
</header>
<section id="food-s">
    <main>
        {% if messages %}
            {%for m in messages %}
                <div class="message">
                    <p>{{ m }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <a href="{% url 'carrinho' %}">
            <div class="car">
                <img src="../static/images/car2.png" alt="Carrinho" id="cart">
            </div>
        </a>
        <form action="{% url 'comidas' %}" class="content" method="POST" id="ask">
            {% csrf_token %}
            <div class="product-content">
                <h2>Salgados</h2>
            </div>
            <div class="soda-content">
                <p id="soda-title">Refrigerantes</p>
                <!-- For com todos os refris-->

                <div class="soda">
                    <div id="more-than-1l">
                        <details>
                            <summary>1L</summary>
                            {% for so in soda %}
                                {% if so.tipo == '1 l' and so.estoque == True %}
                                <div class="flavor-soda">
                                    <p>{{ so.produto }} - R${{ so.preco }}</p><input type="number" name="soda_1l{{ so.produto }}, 1L, {{ so.preco }}" min="1">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>2L</summary>
                            {% for so in soda %}
                                {% if so.tipo == '2 l' and so.estoque == True %}
                                <div class="flavor-soda">
                                    <p>{{ so.produto }} - R${{ so.preco }}</p><input type="number" name="soda_2l{{ so.produto }}, 2L, {{ so.preco }}" min="1">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>
                    </div>
                    <div id="lass-than-1l">
                        <details>
                            <summary>KS</summary>
                            {% for so in soda %}
                                {% if so.tipo == 'KS' and so.estoque == True %}
                                <div class="flavor-soda">
                                    <p>{{ so.produto }} - R${{ so.preco }}</p><input type="number" name="soda_ks{{ so.produto }}, KS, {{ so.preco }}" min="1">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>Mini</summary>
                            {% for so in soda %}
                                {% if so.tipo == 'Pequena' and so.estoque == True %}
                                <div class="flavor-soda">
                                    <p>{{ so.produto }} - R${{ so.preco }}</p><input type="number" name="soda_mi{{ so.produto }}, Mini, {{ so.preco }}" min="1">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>
                    </div>
                </div>
            </div>

            <div class="date">
                <p>Horário</p>
                <input type="datetime-local" id="datetime" name="request_date"equired>
            </div>

            <div id="order-pizza">
                <button disabled="true">Pedir</button>
            </div>
        </form>
    </main>
</section>
{% endblock %}