{% extends 'base.html' %}
{% load i18n %}
{% block title %}ComeTchÊ | Bebidas{% endblock %}
{% block css %}/static/css/drinks/styles.css{% endblock %}
{% block content %}
<header id="food">
    <nav class="menu">
        <ul>
            <li><a href="{% url 'drinks' %}" id="drinks">Bebidas</a></li>
            <li><a href="{% url 'pizzas' %}" id="pizzas">Pizzas</a></li>
            <li><a href="{% url 'pastas' %}" id="pastas">Salgados</a></li>
        </ul>
    </nav>
</header>
<section id="food-s">
    <main>
        {% if messages %}
            {%for m in messages %}
                <div class="message">
                    <p>{{ m }}</p>
                </div>
                {% endfor %}
        {% endif %}
        
        {% if user.is_authenticated %}
            <a href="{% url 'cart' %}">
                <div class="car">
                    <img src="../static/images/car2.png" alt="Carrinho" id="cart">
                </div>
            </a>
        {% endif %}
        <form action="{% url 'drinks' %}" class="content" method="POST" id="ask">
            {% csrf_token %}
            <p class="drink-type">Cervejas</p>
            <div class="product-content">
                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/2017071123523219508427.png" alt="Cervejas de 600ml" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Cervejas de 600ml</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    {% for drink in drinks %}
                                        {% if drink.category == 'beer' and drink.liters == 600 and drink.stock %}
                                            <div class="drink-amount">
                                                <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/file.png" alt="Cervejinhas 300ml" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Cervejinhas 300ml</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'beer' and drink.liters == 300 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/828x1182.jpg" alt="Cervejas de Lata 350ml" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Cervejas de Lata 350ml</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'beer' and drink.liters == 350 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
            </div>


            <p class="drink-type">Bebidas Quentes</p>
            <div class="product-content">
                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/Portfolio_WF.jpg" alt="Whiskies" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Whiskies</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'whisky' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/D_NQ_NP_763673-MLB29462541016_022019-O.jpg" alt="Cachaças" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Cachaças</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'cachaça' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/familia3.jpg" alt="Rum" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Rum</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'rum' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/f1e58e6cb09aa22c29f65afdd2f89ea9.jpg" alt="Vodkas" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Vodka</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'vodka' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/201818_14448.jpg" alt="Conhaques" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Conhaque</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'cognac' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
            </div>


            <p class="drink-type">Refrigerantes</p>
            <div class="product-content">
                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/refrigerantes.jpg" alt="Refrigerantes de 2 litros" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">2 Litros</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'soda' and drink.liters == 2 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
    
                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/images.jpg" alt="Refrigerantes de 1 litro" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">1 Litro</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'soda' and drink.liters == 1 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/refrigerante-lata-35503.jpg" alt="Refrigerantes de latinha" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Latinha 350ml</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'soda' and drink.liters == 350 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/ks_g.png" alt="Refrigerantes de KS" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">KS 290ml</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'soda' and drink.liters == 290 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/refrigerante-mini1599762045.png" alt="Refrigerantes Minis" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Mini</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'soda' and drink.liters > 5 and drink.liters <= 250 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
            </div>
            </div>


            <p class="drink-type">Diversos</p>
            <div class="product-content">
                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/415849081_1GG.jpg" alt="Vinhos" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Vinhos</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'wine' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/upload.jpg" alt="Energéticos" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Energéticos</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'energetic' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
    
                <div class="drink">
                    <div class="drink-img">
                        <img src="../static/images/bebidas.jpg" alt="Variados" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Variados</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'varied' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="d, {{ drink.id }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
            </div>
            </div>
            
            <div class="date">
                <p>Horário</p>
                <input type="datetime-local" id="datetime" name="request_date" required>
            </div>

            <div id="order-now">
                {% if user.is_authenticated %}
                    <button id="authenticated" disabled="true">Pedir</button>
                {% else %}
                    <a href="{% url 'login' %}"><button type="button">Pedir</button><a/>
                {% endif %}
            </div>
        </form>
    </main>
</section>

{% endblock %}

{% block js %}/static/js/drinks/script.js{% endblock %}