{% extends 'base.html' %}
{%load bootstrap4 %}
{% block title %}ComeTchÊ | Bebidas{% endblock %}
{% block css %}/static/css/drinks/styles.css{% endblock %}
{% block content %}
<header id="food">
    <nav class="menu">
        <ul>
            <li><a href="{% url 'drinks' %}" id="drinks">Bebidas</a></li>
            <li><a href="{% url 'pizzas' %}" id="pizzas">Pizzas</a></li>
            <li><a href="{% url 'pastas' %}" id="pastas">Salgados</a></li>
        </ul>
    </nav>
</header>
<section id="food-s">
    <main>
        {% if messages %}
            {%for m in messages %}
                <div class="message">
                    <p>{{ m }}</p>
                </div>
                {% endfor %}
        {% endif %}
        
        <a href="{% url 'cart' %}">
            <div class="car">
                <img src="../static/images/car2.png" alt="Carrinho" id="cart">
            </div>
        </a>
        <form action="{% url 'drinks' %}" class="content" method="POST" id="ask">
            {% csrf_token %}
            <p class="drink-type">Cervejas</p>
            <div class="product-content">
                <div class="drink">
                    <div class="drink-img">
                        <img src="https://images.tcdn.com.br/img/img_prod/603715/garrafa_caculinha_300ml_envase_cerveja_artesanal_280_1_20180120105114.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Cerveja de 600ml</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    {% for drink in drinks %}
                                        {% if drink.category == 'beer' and drink.liters == 600 and drink.stock %}
                                            <div class="drink-amount">
                                                <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="beer_600ml{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="https://images.tcdn.com.br/img/img_prod/603715/garrafa_caculinha_300ml_envase_cerveja_artesanal_280_1_20180120105114.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Cervejinha 300ml</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'beer' and drink.liters == 300 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="beer_300ml{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Cerveja de Lata 350ml</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'beer' and drink.liters == 350 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="beer_350ml{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
            </div>


            <p class="drink-type">Bebidas Quentes</p>
            <div class="product-content">
                <div class="drink">
                    <div class="drink-img">
                        <img src="https://images.tcdn.com.br/img/img_prod/603715/garrafa_caculinha_300ml_envase_cerveja_artesanal_280_1_20180120105114.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Whiskies</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'whisky' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="whisky{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="https://images.tcdn.com.br/img/img_prod/603715/garrafa_caculinha_300ml_envase_cerveja_artesanal_280_1_20180120105114.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Cachaças</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'cachaça' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="cachaca{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Rum</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'rum' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="rum{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Vodka</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'vodka' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="vodka{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Conhaque</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'cognac' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="cognac{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
            </div>


            <p class="drink-type">Refrigerantes</p>
            <div class="product-content">
                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">2 Litros</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'soda' and drink.liters == 2 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="soda_2l{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
    
                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">1 Litro</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'soda' and drink.liters == 1 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="soda_1l{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Latinha 350ml</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'soda' and drink.liters == 350 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="soda_ca{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">KS 290ml</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'soda' and drink.liters == 290 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="soda_ks{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>

                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Mini</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'soda' and drink.liters > 5 and drink.liters <= 250 and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="soda_mi{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
            </div>
            </div>


            <p class="drink-type">Diversos</p>
            <div class="product-content">
                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Energéticos</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'energetic' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="energetic{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
    
                <div class="drink">
                    <div class="drink-img">
                        <img src="https://image.freepik.com/vetores-gratis/modelo-de-lata-refrigerante-ou-cerveja-de-aluminio-brilhante-em-branco_88653-860.jpg" alt="Cerveja" class="drink-img">
                    </div>
                    <div class="drink-details">
                        <p class="drink-title">Variados</p>
                        <details>
                            <summary>Tipos</summary>
                                <div class="drink-flavor">
                                    <div class="drink-flavor">
                                        {% for drink in drinks %}
                                            {% if drink.category == 'varied' and drink.stock %}
                                                <div class="drink-amount">
                                                    <p>{{ drink.product }} - R${{ drink.price }}</p><input type="number" name="varied{{ drink.product }}, 1L, {{ drink.price }}" min="0" max="100" placeholder="Quant">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </details>
                    </div>
                </div>
            </div>
            </div>
            <div id="order-now">
                <button disabled="true">Pedir</button>
            </div>
        </form>
    </main>
</section>

{% endblock %}

{% block js %}/static/js/drinks/script.js{% endblock %}