{% extends 'base.html' %}
{% load static %}
{% block title %}ComeChÊ | Home{% endblock %}
{% block css%}/static/css/index/styles.css{% endblock %}
{% block content %}
    <section class="container">
        <h2>O que Deseja?</h2>
        <nav class="menu">
            <ul class="choice">
                <li class="bebidas">
                    <a href="{% url 'drinks' %}" id="drinks">Bebidas</a>
                </li>

                <li class="choice">
                    <a href="{% url 'pizzas' %}" id="pizzas">Pizzas</a>
                </li>

                <li class="choice">
                    <a href="{% url 'pastas' %}" id="pastas">Salgados</a>
                </li>
            </ul>
        </nav>

    </section>
{% endblock %}