{% extends 'base.html' %}
{%load bootstrap4 %}
{% block title %}ComeTchÊ | Comidas{% endblock %}
{% block css %}/static/css/pastas/styles.css{% endblock %}
{% block content %}
<header id="food">
    <nav class="menu">
        <ul>
            <li><a href="{% url 'drinks' %}" id="drinks">Bebidas</a></li>
            <li><a href="{% url 'pizzas' %}" id="pizzas">Pizzas</a></li>
            <li><a href="{% url 'pastas' %}" id="pastas">Salgados</a></li>
        </ul>
    </nav>
</header>
<section id="food-s">
    <main>
        {% if messages %}
            {%for m in messages %}
                <div class="message">
                    <p>{{ m }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <a href="{% url 'cart' %}">
            <div class="car">
                <img src="../static/images/car2.png" alt="Carrinho" id="cart">
            </div>
        </a>
        <form action="{% url 'pastas' %}" class="content" method="POST" id="ask">
            {% csrf_token %}
            <div class="pasta-title">Salgados</div>
            <div class="product-content">
                {% if pastas.0.product == 'Pastel' %} <!-- Ver isso -->
                <div class="pasta">
                    <p class="pasta-type">Pastel</p>
                    <div class="salgado-img">
                        <img src="https://portal-amb-imgs.clubedaana.com.br/2018/11/pastel-de-feira-1024x768.jpg" alt="Pastel" style="width: 200px;">
                    </div>
                    <div class="pasta-details">
                        <details>
                            <summary>Sabores</summary>
                            <div class="pasta-flavors">
                                {% for pasta in pastas %}
                                {% if pasta.stock and pasta.product == 'Pastel' %}
                                <div>
                                    <p>{{ pasta.flavor }} - <wbr><span>R${{ pasta.price }}</span></p><input type="number" min="0" max="100" placeholder="Quant">
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </details>
                        </div>
                    </div> 
                </div>
                {% endif %}
                <div class="soda-content">
                <p id="soda-title">Refrigerantes</p>
        

                <div class="soda">
                    <div id="more-than-1l">
                        <details>
                            <summary>1L</summary>
                            {% for so in soda %}
                                {% if so.liters == 1 and so.estoque %}
                                <div class="flavor-soda">
                                    <p>{{ so.produto }} - R${{ so.price }}</p><input type="number" name="soda_1l{{ so.produto }}, 1L, {{ so.price }}" min="0" max="100">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>2L</summary>
                            {% for so in soda %}
                                {% if so.liters == 2 and so.estoque %}
                                <div class="flavor-soda">
                                    <p>{{ so.produto }} - R${{ so.price }}</p><input type="number" name="soda_2l{{ so.produto }}, 2L, {{ so.price }}" min="0" max="100">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>
                    </div>
                    <div id="lass-than-1l">
                        <details>
                            <summary>Lata</summary>
                            {% for so in soda %}
                                {% if so.liters == 350 and so.estoque %}
                                <div class="flavor-soda">
                                    <p>{{ so.produto }} - R${{ so.price }}</p><input type="number" name="soda_ca{{ so.produto }}, Latinha, {{ so.price }}" min="0" max="100">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>KS</summary>
                            {% for so in soda %}
                                {% if so.liters == 290 and so.estoque %}
                                <div class="flavor-soda">
                                    <p>{{ so.produto }} - R${{ so.price }}</p><input type="number" name="soda_ks{{ so.produto }}, KS, {{ so.price }}" min="0" max="100">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>Mini</summary>
                            {% for so in soda %}
                                {% if so.liters > 5 and so.liters <= 250 and so.estoque %}
                                <div class="flavor-soda">
                                    <p>{{ so.produto }} - R${{ so.price }}</p><input type="number" name="soda_mi{{ so.produto }}, Mini, {{ so.price }}" min="0" max="100">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>
                    </div>
                </div>
            </div>

            <div class="date">
                <p>Horário</p>
                <input type="datetime-local" id="datetime" name="request_date"equired>
            </div>

            <div id="order-now">
                <button disabled="true">Pedir</button>
            </div>
        </form>
    </main>
</section>
{% endblock %}

{% block js %}/static/js/pastas/script.js{% endblock %}