{% extends 'base.html' %}
{%load bootstrap4 %}
{% load i18n %}
{% block title %}ComeTchÊ | Comidas{% endblock %}
{% block css %}/static/css/pastas/styles.css{% endblock %}
{% block content %}
<header id="food">
    <nav class="menu">
        <ul>
            <li><a href="{% url 'drinks' %}" id="drinks">Bebidas</a></li>
            <li><a href="{% url 'pizzas' %}" id="pizzas">Pizzas</a></li>
            <li><a href="{% url 'pastas' %}" id="pastas">Salgados</a></li>
        </ul>
    </nav>
</header>
<section id="food-s">
    <main>
        {% if messages %}
            {%for m in messages %}
                <div class="message">
                    <p>{{ m }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'cart' %}">
                <div class="car">
                    <img src="../static/images/car2.png" alt="Carrinho" id="cart">
                </div>
            </a>
        {% endif %}
        <form action="{% url 'pastas' %}" class="content" method="POST" id="ask">
            {% csrf_token %}
            <div class="pasta-title">Salgados</div>
            <div class="product-content">
                {% if pastas.pastel %}
                <div class="pasta">
                    <p class="pasta-type">Pastel</p>
                    <div class="pasta-img">
                        <img src="https://portal-amb-imgs.clubedaana.com.br/2018/11/pastel-de-feira-1024x768.jpg" alt="Pastel">
                    </div>
                    <div class="pasta-details">
                        <details>
                            <summary>Sabores</summary>
                            <div class="pasta-flavors">
                                {% for pasta in pastas.pastel %}
                                    {% if pasta.stock %}
                                        <div>
                                            <p>{{ pasta.flavor }} - <wbr><span>R${{ pasta.price }}</span></p><input name="pasta-pastel{{ pasta.id }}, {{ pasta.product }}, {{ pasta.flavor }}, {{ pasta.price }}, {{ pasta.image.thumb.url }}" type="number" min="0" max="100" placeholder="Quant">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </details>
                    </div> 
                </div>
                {% endif %}

                {% if pastas.esfirra %}
                <div class="pasta">
                    <p class="pasta-type">Esfirra</p>
                    <div class="pasta-img">
                        <img src="https://site-amb-s3.clubedaana.com.br/prod/imagens/receita/4909/esfirra-facil-de-carne-ou-queijo-4799.jpg" alt="Pastel">
                    </div>
                    <div class="pasta-details">
                        <details>
                            <summary>Sabores</summary>
                            <div class="pasta-flavors">
                                {% for pasta in pastas.esfirra %}
                                    {% if pasta.stock %}
                                        <div>
                                            <p>{{ pasta.flavor }} - <wbr><span>R${{ pasta.price }}</span></p><input name="pasta-esfirra{{ pasta.id }}, {{ pasta.product }}, {{ pasta.flavor }}, {{ pasta.price }}, {{ pasta.image.thumb.url }}" type="number" min="0" max="100" placeholder="Quant">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </details>
                    </div> 
                </div>
                {% endif %}

                {% if pastas.coxinha %}
                <div class="pasta">
                    <p class="pasta-type">Coxinha</p>
                    <div class="pasta-img">
                        <img src="https://s2.glbimg.com/OA5eE_C4dKT8G9PwTc8oVZ9GbaQ=/0x0:630x385/984x0/smart/filters:strip_icc()/s.glbimg.com/po/rc/media/2014/06/04/11_00_55_179_receita_tradicional_de_coxinha.jpg" alt="Pastel">
                    </div>
                    <div class="pasta-details">
                        <details>
                            <summary>Sabores</summary>
                            <div class="pasta-flavors">
                                {% for pasta in pastas.coxinha %}
                                    {% if pasta.stock %}
                                        <div>
                                            <p>{{ pasta.flavor }} - <wbr><span>R${{ pasta.price }}</span></p><input name="pasta-coxinha{{ pasta.id }}, {{ pasta.product }}, {{ pasta.flavor }}, {{ pasta.price }}, {{ pasta.image.thumb.url }}"type="number" min="0" max="100" placeholder="Quant">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </details>
                    </div> 
                </div>
                {% endif %}

                {% if pastas.enroladinho %}
                <div class="pasta">
                    <p class="pasta-type">Enroladinho</p>
                    <div class="pasta-img">
                        <img src="https://xtudoreceitas.com/wp-content/uploads/Corn-Dog-Enroladinho-de-Salsicha-Frito-no-Palito.jpg" alt="Pastel">
                    </div>
                    <div class="pasta-details">
                        <details>
                            <summary>Sabores</summary>
                            <div class="pasta-flavors">
                                {% for pasta in pastas.enroladinho %}
                                    {% if pasta.stock %}
                                        <div>
                                            <p>{{ pasta.flavor }} - <wbr><span>R${{ pasta.price }}</span></p><input name="pasta-enroladinho{{ pasta.id }}, {{ pasta.product }}, {{ pasta.flavor }}, {{ pasta.price }}, {{ pasta.image.thumb.url }}"type="number" min="0" max="100" placeholder="Quant">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </details>
                    </div> 
                </div>
                {% endif %}

                {% if pastas.sundry %}
                <div class="pasta">
                    <p class="pasta-type">Diversos</p>
                    <div class="pasta-img">
                        <img src="https://panfleteria.sfo2.digitaloceanspaces.com/uploads/ofertas/img/Panfleteria_Joel_Salgados_torta_salgados_foto04.jpg" alt="Pastel">
                    </div>
                    <div class="pasta-details">
                        <details>
                            <summary>Sabores</summary>
                            <div class="pasta-flavors">
                                {% for pasta in pastas.sundry %}
                                    {% if pasta.stock %}
                                        <div>
                                            <p>{{ pasta.flavor }} - <wbr><span>R${{ pasta.price }}</span></p><input name="pasta-sundry{{ pasta.id }}, {{ pasta.product }}, {{ pasta.flavor }}, {{ pasta.price }}, {{ pasta.image.thumb.url }}"type="number" min="0" max="100" placeholder="Quant">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </details>
                    </div> 
                </div>
                {% endif %}
            </div>
            
            <div class="soda-content">
                <p id="soda-title">Refrigerantes</p>

                <div class="soda">
                    <div id="more-than-1l">
                        <details>
                            <summary>1L</summary>
                            {% for so in soda %}
                                {% if so.liters == 1 and so.stock %}
                                <div class="flavor-soda">
                                    <p>{{ so.product }} - R${{ so.price }}</p><input type="number" name="soda_1l{{ so.product }}, 1L, {{ so.price }}" min="0">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>2L</summary>
                            {% for so in soda %}
                                {% if so.liters == 2 and so.stock %}
                                <div class="flavor-soda">
                                    <p>{{ so.product }} - R${{ so.price }}</p><input type="number" name="soda_2l{{ so.product }}, 2L, {{ so.price }}" min="0">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>
                    </div>
                    <div id="lass-than-1l">
                        <details>
                            <summary>Lata</summary>
                            {% for so in soda %}
                                {% if so.liters == 350 and so.stock %}
                                <div class="flavor-soda">
                                    <p>{{ so.product }} - R${{ so.price }}</p><input type="number" name="soda_ca{{ so.product }}, Latinha, {{ so.price }}" min="0">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>KS</summary>
                            {% for so in soda %}
                                {% if so.liters == 290 and so.stock %}
                                <div class="flavor-soda">
                                    <p>{{ so.product }} - R${{ so.price }}</p><input type="number" name="soda_ks{{ so.product }}, KS, {{ so.price }}" min="0">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>Mini</summary>
                            {% for so in soda %}
                                {% if so.liters > 5 and so.liters <= 250 and so.stock %}
                                <div class="flavor-soda">
                                    <p>{{ so.product }} - R${{ so.price }}</p><input type="number" name="soda_mi{{ so.product }}, Mini, {{ so.price }}" min="0">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>
                    </div>
                </div>
            </div>
        
            <div class="date">
                <p>Horário</p>
                <input type="datetime-local" id="datetime" name="request_date"equired>
            </div>

            <div id="order-now">
                {% if user.is_authenticated %}
                    <button id="authenticated" disabled="true">Pedir</button>
                {% else %}
                    <a href="{% url 'login' %}"><button type="button">Pedir</button><a/>
                {% endif %}
            </div>
        </form>
    </main>
</section>
{% endblock %}

{% block js %}/static/js/pastas/script.js{% endblock %}