{% extends 'base.html' %}
{%load bootstrap4 %}
{% block title %}ComeTchÊ | Comidas{% endblock %}
{% block css %}/static/css/pizzas/styles.css{% endblock %}
{% block content %}
<header id="food">
    <nav class="menu">
        <ul>
            <li><a href="{% url 'drinks' %}" id="drinks">Bebidas</a></li>
            <li><a href="{% url 'pizzas' %}" id="pizzas">Pizzas</a></li>
            <li><a href="{% url 'pastas' %}" id="pastas">Salgados</a></li>
        </ul>
    </nav>
</header>
<section id="food-s">
    <main>
        {% if messages %}
            {%for m in messages %}
                <div class="message">
                    <p>{{ m }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'cart' %}">
                <div class="car">
                    <img src="../static/images/car2.png" alt="Carrinho" id="cart">
                </div>
            </a>
        {% endif %}
        <form action="{% url 'pizzas' %}" class="content" method="POST" id="ask">
            {% csrf_token %}
            <div id="pizzas-content">
                <div class="product-content" id="p1">
                    <div id="flavors">
                        <select class="select" name="flavor1_1" id="flavor-1">
                            <optgroup label="Sabor 1">
                                {% for pizza in pizzas %}
                                {% if pizza.stock %}
                                <option value="{{ pizza.product }}">{{ pizza.product }}</option>
                                {% endif %}
                                {% endfor %}
                            </optgroup>
                        </select>

                        <select class="select" name="flavor2_1" id="flavor-2">
                            <optgroup label="Sabor 2">
                                {% for pizza in pizzas %}
                                {% if pizza.stock %}
                                <option value="{{ pizza.product }}">{{ pizza.product }}</option>
                                {% endif %}
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <div class="flavors-images">
                        <div class="img-1">
                            <img src="../static/images/pizza.jpg" id="img-p1" alt="Image 1">
                        </div>
                        <div class="img-2">
                            <img src="../static/images/pizza2.jpg" id="img-p2" alt="Image 2">
                        </div>
                    </div>

                    <ul class="sizes">

                        <li class="fam" id="fam1">
                            <label for="check-f1">
                                <div class="content-sizes">
                                    <span class="type">Família</span> <span class="price">R${{ price.price_f }}</span><input type="checkbox" class="box" id="check-f1" name="F1" value="family, {{ price.price_f }}">
                                    <div id="amount_f1"></div>
                                </div>
                            </label>
                        </li>

                        <li class="big" id="big1">
                            <label for="check-b1">
                                <div class="content-sizes">
                                    <span class="type">Grande</span> <span class="price">R${{ price.price_b }}</span><input type="checkbox" class="box" id="check-b1" name="B1" value="big, {{ price.price_b }}">
                                    <div id="amount_b1"></div>
                                </div>
                            </label>
                        </li>

                        <li class="ave" id="ave1">
                            <label for="check-a1">
                                <div class="content-sizes">
                                    <span class="type">Média</span> <span class="price">R${{ price.price_a }}</span><input type="checkbox" class="box" id="check-a1" name="A1" value="average, {{ price.price_a }}">
                                    <div id="amount_a1"></div>
                                </div>
                            </label>
                        </li>

                        <li class="sam" id="sam1">
                            <label for="check-s1">
                                <div class="content-sizes">
                                    <span class="type">Pequena</span> <span class="price">R${{ price.price_s }}</span><input type="checkbox" class="box" id="check-s1" name="S1" value="small, {{ price.price_s }}">
                                    <div id="amount_s1"></div>
                                </div>
                            </label>
                        </li>

                        <li class="min" id="min1">
                            <label for="check-m1">
                                <div class="content-sizes">
                                    <span class="type">Mini</span> <span class="price">R${{ price.price_m }}</span><input type="checkbox" class="box" id="check-m1" name="M1" value="mini, {{ price.price_m }}">
                                    <div id="amount_m1"></div>
                                </div>
                            </label>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="more">
                <button type="button" id="one-more">+</button>
            </div>

            <div class="soda-content">
                <p id="soda-title">Refrigerantes</p>

                <div class="soda">
                    <div id="more-than-1l">
                        <details>
                            <summary>1L</summary>
                            {% for so in soda %}
                                {% if so.liters == 1 and so.stock %}
                                <div class="soda-flavor">
                                    <p>{{ so.product }} - R${{ so.price }}</p><input type="number" name="d, {{ so.id }}" min="0" autocomplete="off">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>2L</summary>
                            {% for so in soda %}
                                {% if so.liters == 2 and so.stock %}
                                <div class="soda-flavor">
                                    <p>{{ so.product }} - R${{ so.price }}</p><input type="number" name="d, {{ so.id }}" min="0" autocomplete="off">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>
                    </div>
                    <div id="lass-than-1l">
                        <details>
                            <summary>Lata</summary>
                            {% for so in soda %}
                                {% if so.liters == 350 and so.stock %}
                                <div class="soda-flavor">
                                    <p>{{ so.product }} - R${{ so.price }}</p><input type="number" name="d, {{ so.id }}" min="0" autocomplete="off">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>KS</summary>
                            {% for so in soda %}
                                {% if so.liters == 290 and so.stock %}
                                <div class="soda-flavor">
                                    <p>{{ so.product }} - R${{ so.price }}</p><input type="number" name="d, {{ so.id }}" min="0" autocomplete="off">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>

                        <details>
                            <summary>Mini</summary>
                            {% for so in soda %}
                                {% if so.liters > 5 and so.liters <= 250 and so.stock %}
                                <div class="soda-flavor">
                                    <p>{{ so.product }} - R${{ so.price }}</p><input type="number" name="d, {{ so.id }}" min="0" autocomplete="off">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </details>
                    </div>
                </div>
            </div>

            <div class="date">
                <p>Horário</p>
                <input type="datetime-local" id="datetime" name="request_date"equired>
            </div>

            <div id="order-now">
                {% if user.is_authenticated %}
                    <button id="authenticated" disabled="true">Pedir</button>
                {% else %}
                    <a href="{% url 'login' %}"><button type="button">Pedir</button><a/>
                {% endif %}
            </div>
        </form>
    </main>
</section>
{% endblock %}

{% block js %}/static/js/pizzas/script.js{% endblock %}