{% for pi in pizza %}
                <img src="{{ pi.imagem.thumb.url }}" alt="{{ pi.produto }}" />
                <h2>{{ pi.produto }}</h2>
                <label for="{{ pi.id }}"><h3>{{ pi.preco_f }}</h3></label>
                <input type="checkbox" name="pizza" id="{{ pi.id }}" value="{{ pi.produto }}{{ pi.preco_f }}"><br>

                <label for="{{ pi.id }}"><h3>{{ pi.preco_g }}</h3></label>
                <input type="checkbox" name="pizza" id="{{ pi.id }}" value="{{ pi.produto }}{{ pi.preco_g }}"><br>

                <label for="{{ pi.id }}"><h3>{{ pi.preco_m }}</h3></label>
                <input type="checkbox" name="pizza" id="{{ pi.id }}" value="{{ pi.produto }}{{ pi.preco_m }}"><br>

                <label for="{{ pi.id }}"><h3>{{ pi.preco_p }}</h3></label>
                <input type="checkbox" name="pizza" id="{{ pi.id }}" value="{{ pi.produto }}{{ pi.preco_p }}"><br>
            {% endfor %}
            <input type="submit" value="Pedir" id="pedir"


            {% for pi in pizza %}
            <input type="checkbox" value="{{ pi.produto }}" name="pizzaa">
            <h4>{{ pi.produto }}</h4>
            {% endfor %}

            <input type="checkbox" name="media" value="Média">
            <label for="m">Média</label>

            <input type="checkbox" name="grande" value="Grande">
            <label for="g">Grande</label>
                
            <input type="submit" value="Pedir">


            <form action="{% url 'index' %}" method="GET">
                {% csrf_token %}
                <label for="hora">Horário de entrega</label>
                <input type="datetime-local" name="encomenda" required>
         
                <input type="submit" value="Encomendar" name="a">
            </form>




            RASCUNHO DO JS

            let c = document.getElementsByClassName('box')
let butao = document.getElementById('encomendar')

var encontrado = false
var ident = []
let quant = ''

quant = function(id){

    var quant = document.createElement('input')
    var catupiry = document.createElement('input')
    var label = document.createElement('label')
    var texto = document.createElement('p')
    var data = document.createElement('input')
    //var op = document.createElement('select')
    //var refri = document.createElement('option')
        
    texto = "(+ R$2)"
    //texto_r = "Refrigerantes"
    
    var preco
    var p = id.value.split(',')
    preco = `${p[2]},${p[3]}`
    
    quant.type = "number"
    quant.min = "1"
    quant.value = "1"
    quant.name = `${id.id}${p[2]}.${p[3]}`
        
    catupiry.type = "checkbox"
    catupiry.name = `c${id.id}${p[2]}.${p[3]}`
        
    data.type = "datetime-local"
    data.name = "datetime"
    data.required = true

        
    var pizzas = document.getElementById(`${id.id}${preco}`)
    //alert(pizzas.id)
    var pedir = document.getElementById('ir')

    //pizzas.append(br)

    if(ident.length == 0){
        ident.push([`${id.id}${p[2]}.${p[3]}`, 1])
        //alert('iniciar')
        pizzas.append(quant)
        label.append(texto)
        label.append(catupiry)
        pizzas.append(label)
        pedir.prepend(data)
    }
    else{
        for(let i=0; i< ident.length; i++){
            if(ident[i][0] == quant.name){
                encontrado = true
                if(ident[i][1] == 0){
                    //alert('Não remover')
                    ident[i][1] = 1
                    pizzas.append(quant)
                    label.append(texto)
                    label.append(catupiry)
                    pizzas.append(label)
                }
                else if(ident[i][1] == 1){
                    //alert('remover')
                    ident[i][1] = 0
                    pizzas.remove()
                    pizzas = document.createElement('strong')
                    pizzas.id = `${id.id}${preco}`

                    if(parseFloat(preco) == 30.00){
                        let pizz = document.getElementById(`fam${id.id}`)
                        pizz.append(pizzas)
                    }
                    else if(parseFloat(preco) == 25.00){
                        let pizz = document.getElementById(`gra${id.id}`)
                        pizz.append(pizzas)
                    }
                    else if(parseFloat(preco) == 20.00){
                        let pizz = document.getElementById(`med${id.id}`)
                        pizz.append(pizzas)
                    }
                    else{
                        let pizz = document.getElementById(`peq${id.id}`)
                        pizz.append(pizzas)
                    }
                }
            }
        }
        if(encontrado == false){
            ident.push([`${id.id}${p[2]}.${p[3]}`, 1])
            //alert('Criado carimbo')
            pizzas.append(quant)
            label.append(texto)
            label.append(catupiry)
            pizzas.append(label)
            //pedir.prepend(data)
        }
    }
    encontrado = false
}

let encomendar = function() {
    let pedido = document.getElementById('pedido').getAttribute('mensagem')
    pedido = window.encodeURIComponent(pedido)

    open(`https://api.whatsapp.com/send?phone=5588981194819&text=${pedido}`)
}

for(let i=0; i < c.length; i++){
    c[i].addEventListener('click', function(){quant(c[i])})
}

butao.addEventListener('click', encomendar)