* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

#main-header {
    font-size: 25px;
    border-radius: 3px;
    text-shadow: rgb(49, 49, 49) 1px 1px 1px;
    width: 99%;
    background-color: #ea0606;
    margin: auto;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

#main-header a {
    text-decoration: none;
    color: #FFF;
}

#main-header a h1 {
    margin: 0;
    height: 110px;
    padding-top: 25px;
}

#food {
    width: 100%;
    max-width: 550px;
    margin: auto;
}

.menu {
    width: 100%;
    max-width: 410px;
    margin: auto;
    padding: 10px 0;
}

.menu ul {
    padding: 25px 0;
    align-items: center;
    margin: 0;
    display: flex;
    list-style: none;
}

.menu ul li a {
    flex: 1;
    border-radius: 5px;
    padding: 25px 15px;
    margin: 3px;
    text-decoration: none;
    font-size: 23.4px;
    color: #000;
    text-shadow: rgb(34, 33, 33) 0px 1px 1px;
    font-weight: bold;
}

#drinks {
    background-color: #009246;
    padding: 25px 20px;
}
#pizzas {
    background-color: #fff;
    padding: 25px 29px;
}
#pastas {
    background-color: #ea0606;
    padding: 25px 13px;
}

#drinks:hover,
#pizzas:hover,
#pastas:hover{
    background-color: orangered;
    color: #fff;
}

#drinks:active{
    background-color: #009246;
}

#pizzas:active {
    background-color: #fff;
}

#pastas:active {
    background-color: #ea0606;
}

section {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

section main .message {
    border: solid 1px #FFF;
    background-color: rgba(14, 228, 14, 0.904);
    color: #FFF;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 9px;
}

section main .content .product-content {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 5px;
    background-color: #FFF;
    border-radius: 15px;
}

section main .car {
    background-color: #48EC35;
    border: solid 3px #FFF;
    position: fixed;
    border-radius: 100%;
    padding: 10px;
    margin-left: 510px;
}
section main #cart {
    height: 50px;
    width: 50px;
}

section main .content {
    padding: 10px 20px;
    background-color: #ea0606;
    border-radius: 8px;
    box-shadow: #4f4f50 1px 1px 6px;
}

section main .close-element {
    width: 100%;
    max-width: 40px;
    border: solid 2px #fff;
    padding: 10px;
    border-radius: 100%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position: absolute;
    margin-top: -570px;
    margin-left: 430px;
    background-color: #0d7dc7;
}

section .content .soda-content {
    width: 100%;
    margin: 30px 0;
    padding: 10px 0;
    background-color: #FFF;
    border-radius: 15px;
    text-align: center;
}

section .content .soda-content #soda-title {
    width: 50%;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

section .content .soda {
    width: 100%;
    margin: auto;
}

section .content .soda details {
    flex: 1;
    padding: 10px 21px;
    font-size: 25px;
    font-weight: bold;
    color: #414142;
    transition: .2s;
}

section .content .soda details:hover {
    background-color: rgba(14, 228, 14, 0.204);
    border-radius: 5px;
}

section .content .soda details:active {
    background-color: #FFF;
    border-radius: 5px;
}

section .content .soda details div {
    width: 100%;
    max-width: 300px;
}

section .content .soda details[open] {
    padding-left: 5px;
    
}

section .content .soda details .flavor-soda {
    background-color:rgb(241, 241, 241);
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}

section .content .soda details p {
    width: 150px;
    border-left: solid 4px #ea0606;
    margin: 0;
    padding: 10px 5px;
    font-size: 14px;
}

section .content .soda details input {
    font-size: 20px;
    width: 60px;
    margin: 0;
    padding: 0 2px;
    border: solid 1px rgb(231, 222, 222);
    outline: none;
}

section .content .soda details summary {
    border-bottom: solid 1px #CCC;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

summary::-webkit-details-marker {
    display: none;
}
summary:before {
    content: url("../images/seta2.png"); /* the new icon */
    color: #12a500;
    margin-right: 3px;
}


#order-now {
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

#order-now button {
    padding: 30px;
    font-size: 45px;
    font-weight: bold;
    border-radius: 4px;
    text-shadow: #000 1px 1px 1px;
    box-shadow: #000 1px 1px 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(240, 240, 240);
    transition: .2s;
}

#order-now button:hover {
    background: rgba(255, 255, 2, 0.986);
    color: #ea0606;
    text-shadow: #000 1px 1px 1px;
}

#order-now button:active {
    background: #2a881e;
    color: #FFF;
}

#explain {
    background-color: gray;
    position: absolute;
}

section .content .date {
    width: 100%;
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #FFF;
}

section .content .date p {
    font-weight: bold;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

section .content .date #datetime {
    height: 50px;
    outline: none;
    font-size: 20px;
    border: none;
    color: #414142;
    font-weight: bold;
    cursor: pointer;
}

footer {
    border-radius: 3px;
    text-shadow: rgb(49, 49, 49) 1px 1px 1px;
    width: 99%;
    background-color: #4f4f50;
    color: #FFF;
    margin: auto;
    text-align: center;
    padding: 3px;
    margin-top: 10px;
}

@media(max-width: 450px) {
    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    }

    #food {
        max-width: 400px;
    }

    .menu {
        max-width: 350px;
    }

    #drinks {
        padding: 25px 10px;
    }
    #pizzas {
        padding: 25px 19px;
    }
    #pastas {
        padding: 25px 3px;
    }

    section main .close-element {
        margin-top: -640px;
        margin-left: 290px;
    }

    section main .car {
        margin-left: 77%;
        margin-top: 70%;
    }

    section .content .soda {
        width: 100%;
        margin: auto;
    }

    section .content .soda details {
        transition: .7s;
    }

    section .content .soda details:active {
        background-color: rgb(218, 216, 216);
    }
}

@media(max-width: 350px) {
    body {
        background-color: blue;
    }
}