{% extends 'base.html' %}
{% block title %}ComeTchÊ | Login{% endblock %}
{% block css %}/static/css/login/styles.css{% endblock %}
{% block content %}

<section class="content-center">
    <div class="text-center">
        <a href="https://www.instagram.com/taberna.grill/?hl=pt-br" target="_blank">
            <img src="/static/images/taberna_grill.jpg" alt="Logo Taberna Grill">
        </a>
    </div>

    <form method="POST" id="form-login">
        {% csrf_token %}
        {{ form }}

        <div id="forget_password">
            <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
        </div>

        <div>
            <button type="submit" id="button">Entrar</button>
        </div>
    </form>
</section>

{% endblock %}