{% extends 'base.html' %}
{% block css %}/static/css/registration/styles.css{% endblock %}

{% block content %}
    <section class="content-center">
        <main>
            <div class="text-center">
                <a href="https://www.instagram.com/taberna.grill/?hl=pt-br" target="_blank">
                    <img src="/static/images/taberna_grill.jpg" alt="Logo Taberna Grill">
                </a>
            </div>
            
            {% if validlink %}
              <h3>Change password</h3>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Mudar senha</button>
              </form>
            {% else %}
              <p class="callout">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
              </p>
            {% endif %}
        </main>
    </section>
{% endblock %}