{% extends 'base.html' %}
{% block css %}/static/css/registration/styles.css{% endblock %}

{% block content %}
    <section class="content-center">
        <main>
            <h1>Redefinição enviada</h1>
            <p class="callout">
                Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.
            </p>
            <p class="callout">
                Se você não recebeu um email, por favor certifique-se que forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.
            </p>
        </main>
    </section>
{% endblock %}