{% extends 'base.html' %}
{% block css %}/static/css/registration/styles.css{% endblock %}

{% block content %}
    <section class="content-center">
        <main>
            <div class="text-center">
                <a href="https://www.instagram.com/taberna.grill/?hl=pt-br" target="_blank">
                    <img src="/static/images/taberna_grill.jpg" alt="Logo Taberna Grill">
                </a>
            </div>
            <div>
                <h3>Recuperar senha</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Reiniciar minha senha</button>
                </form>
            </div>
        </main>
    </section>
{% endblock %}