{% extends 'base.html' %}
{% block title %}ComeTchÊ | Cadastro{% endblock %}
{% block css %}/static/css/login/styles.css{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<section class="content-center">
    <div class="text-center">
        <a href="https://www.instagram.com/taberna.grill/?hl=pt-br" target="_blank">
            <img src="/static/images/taberna_grill.jpg" alt="Logo Taberna Grill">
        </a>
    </div>

    <form method="POST" id="form-login">
        {% csrf_token %}
        {{ form|crispy }}
        
        <div>
            <button type="submit" id="button">Cadastrar</button>
        </div>
    </form>
</section>

{% endblock %}